<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Emma Azelborn</h1>
    {% include "./includes/site-nav.njk" %}
    {% block content %}
        {{ content | safe }}
    {% endblock %}
    <section>
        <a href="https://emmaazelborn.bandcamp.com/">bandcamp</a>
        <a href="https://www.instagram.com/emmaazelborn/">instagram</a>
    </section>
</body>
</html>