<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="layout-grid">
    <aside class="sidebar">
      <header class="header">
        <h1><a href="/">Emma</a><br><a href="/">Azelborn</a></h1>
      </header>
      <nav class="nav-bar">
        {% include "./includes/site-nav.njk" %}
      </nav>
      <footer class="footer">
        <div class="footer-links">
          <a href="https://emmaazelborn.bandcamp.com/"><img src="/static/images/bandcamp-button-bc-circle-black-128.png" alt="bandcamp"></a>
          <a href="https://www.instagram.com/emmaazelborn/"><img src="/static/images/Instagram_Glyph_Black.png" alt="instagram"></a>
        </div>
      </footer>
    </aside>
    <main class="page-content">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
  </div>
</body>
</html>