{% extends "base.njk" %}

{% block content %}
    <div class="stripe-content">
        <h2 class="page-title">{{ title }}</h2>
        {% set design = 'cards' %}
        {% include "includes/events-list.njk" %}
        {{ content | safe }}
    </div>
{% endblock %}
