{% extends "./base.njk" %}

{% macro postImage(image, title, imageCredit, imageCreditUrl) %}
    {% if image %}
        <img class="post-image" src="{{ image }}" alt="{{ title }}">
        {% if imageCredit %}
            <p class="post-image-credit">{% if imageCreditUrl %}<a href="{{ imageCreditUrl }}">{{ imageCredit }}</a>{% else %}{{ imageCredit }}{% endif %}</p>
        {% endif %}
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="post-content">
        <p class="back-link">
            <a href="/writing/">« All Writing</a>
        </p>
        <h2>{{ title }}</h2>
        <time>{{ date | date("LLLL d, yyyy") }}</time>
        {% set footnotesSep = '<hr class="footnotes-sep">' %}
        {% if footnotesSep in content %}
            {% set parts = content.split(footnotesSep) %}
            {{ parts[0] | safe }}
            {{ postImage(image, title, imageCredit, imageCreditUrl) }}
            {{ footnotesSep | safe }}{{ parts[1] | safe }}
        {% else %}
            {{ content | safe }}
            {{ postImage(image, title, imageCredit, imageCreditUrl) }}
        {% endif %}
    </div>
{% endblock %}