{% extends "./base.njk" %}

{% block content %}
    <div class="post-content">
        <p class="back-link">
            <a href="/writing/">« All Writing</a>
        </p>
        <h2>{{ title }}</h2>
        <time>{{ date | date("LLLL d, yyyy") }}</time>
        {% set footnotesSep = '<hr class="footnotes-sep">' %}
        {% if footnotesSep in content %}
            {% set parts = content.split(footnotesSep) %}
            {{ parts[0] | safe }}
            {% if image %}
                <img class="post-image" src="{{ image }}" alt="{{ title }}">
            {% endif %}
            {{ footnotesSep | safe }}{{ parts[1] | safe }}
        {% else %}
            {{ content | safe }}
            {% if image %}
                <img class="post-image" src="{{ image }}" alt="{{ title }}">
            {% endif %}
        {% endif %}
    </div>
{% endblock %}