{% extends "./base.njk" %}

{% block content %}
    <div class="stripe-content">
        <h2>{{ title }}</h2>
        {% if released %}
        <div class="song-projects">
            <strong>Appears in:</strong>
            <ul>
            {% for project in released %}
                <li><a href="/projects/{{ project }}/">{{ project | replace('-', ' ') | title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>This song is not released yet, but I've been singing it out in the world. Feel free to learn it and sing it with your friends!</p>
        {% endif %}
        <div class="song-lyrics">
            {{ content | safe }}
        </div>
    </div>
{% endblock %}