{% extends "./base.njk" %}

{% block content %}
    <div class="stripe-content">
        <p class="back-to-songs">
            <a href="/songs/">« All Songs</a>
        </p>
        <h2>{{ title }}</h2>
        {% if released %}
        <div class="song-projects">
            <strong>Appears in:</strong>
            <ul>
            {% for rel in released %}
                <li><a href="/projects/{{ rel.project }}/">{{ rel.project | replace('-', ' ') | title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        <p><em>This song is not released yet, but I've been singing it out in the world. Feel free to learn it and sing it with your friends!</em></p>
        {% endif %}
        <div class="song-lyrics">
            {{ content | lyrics | safe }}
        </div>
        {% if released %}
          {% for rel in released %}
            {% if rel.bandcampTrackId %}
              {% set project = collections.projects | getProjectByName(rel.project) %}
              <iframe style="border: 0; width: 250px; height: 250px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ project.bandcampID }}/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/track={{ rel.bandcampTrackId }}/transparent=true/" seamless><a href="https://emmaazelborn.bandcamp.com{{ project.bandcampUrl }}">{{ title }} by Emma Azelborn</a></iframe>
            {% endif %}
          {% endfor %}
        {% elif voiceMemo %}
          <audio controls>
            <source src="/static/audio/{{ voiceMemo }}" type="audio/mp4">
            Your browser does not support the audio player.
          </audio>
        {% endif %}
    </div>
{% endblock %}