{% extends "base.njk" %}

{% block content %}
    <div class="stripe-content">
        <p class="back-to-folkmadness"><a href="/folkmadness-2026/">« Folkmadness 2026</a></p>
        <h2 class="page-title">{{ title }}</h2>

        {% if songs %}
            <ul class="song-list">
                {% for song in songs %}
                    <li class="song-item">
                        {% if song.lyricsUrl %}
                            <a href="{{ song.lyricsUrl }}">{{ song.title }}</a>
                        {% else %}
                            {{ song.title }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="workshop-notes">
            {{ content | safe }}
        </div>
    </div>
{% endblock %}
