<a href="https://emmaazelborn.bandcamp.com/"><img src="/static/images/bandcamp-button-bc-circle-black-128.png" alt="bandcamp"></a>
<a href="https://www.instagram.com/emmaazelborn/"><img src="/static/images/Instagram_Glyph_Black.png" alt="instagram"></a>
<a href="https://www.youtube.com/@emmaazelborn"><img src="/static/images/youtube_social_squircle_dark.png" alt="youtube"></a>