<nav>
    <a class="button" href="/">Home</a>
    <a class="button" href="/projects">Projects</a>
    {# <a href="/blog">Blog</a> #}
    <a class="button" href="/contact">Contact</a>
    {# <a href="/feed.xml">RSS</a> #}
</nav>