/* 
colors

dark blue #5D718C
medium blue #B6D6F2
light blue #C9E7F2
dark green #365946
light green #7A8C51 
*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.project-image {
    display: block;
    margin: 0 auto;
    max-height: 400px;
    width: auto;
}