---
layout: base.njk
title: Emma Azelborn
permalink: /
---

<section>
    hello I'm emma I like music and stuff
</section>

<section>
    <ul class="project-list">
        {% for project_title in config.highlightedProjects %}
            {% for project in collections.projects %}
                {% if project.data.title == project_title %}
                    <li class="project-item">
                        <a href="{{ project.url }}">
                            <img
                                src="{{ project.data.image }}"
                                alt="{{ project.data.title }}"
                                eleventy:widths="400"
                                eleventy:heights="400"
                            />
                            <div class="project-details">
                                <h2>{{ project.data.title }}</h2>
                                <p>{{ project.data.summary }}</p>
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    <a class="button" href="/projects">View all projects ›</a>
</section>

<!-- <section>
    recent posts
    <ul>
        {% for post in collections.posts %}
            <li>
                <a href="{{ post.url }}">
                    {{ post.data.title }}
                    <em>{{ post.data.date | date("LLLL d, yyyy") }}</em>
                </a>
            </li>
        {% endfor %}
    </ul>
</section> -->

