---
layout: base.njk
title: Emma Azelborn
permalink: /
---

<section class="full-width-stripe home-intro">
    <p>Hi, I'm Emma. I'm a folk singer and musician with multiple published records.</p> 
    <p>I co-organize the social folk singing event <a href="https://www.violetfolksings.org/">Violet Folks Sings</a></p><p> and the local contra dance <a href="https://www.bidadance.org/">BIDA</a>.</p>
</section>

<section class="full-width-stripe home-projects">
    <div class="stripe-content">
        <ul class="project-list">
            {% for project_title in config.highlightedProjects %}
                {% for project in collections.projects %}
                    {% if project.data.title == project_title %}
                        <li class="project-item">
                            <a href="{{ project.url }}">
                                <div class="project-image-wrapper">
                                    <img
                                        class="project-image"
                                        src="{{ project.data.image }}"
                                        alt="{{ project.data.title }}"
                                        eleventy:widths="400"
                                        eleventy:heights="400"
                                    />
                                </div>
                                <div class="project-details">
                                    <h2>{{ project.data.title }}</h2>
                                    <p>{{ project.data.summary }}</p>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        <a class="button" href="/projects">View all projects ›</a>
    </div>
</section>

<!-- <section>
    recent posts
    <ul>
        {% for post in collections.posts %}
            <li>
                <a href="{{ post.url }}">
                    {{ post.data.title }}
                    <em>{{ post.data.date | date("LLLL d, yyyy") }}</em>
                </a>
            </li>
        {% endfor %}
    </ul>
</section> -->

