---
title: Writing
layout: page.njk
---

<ul class="post-list">
    <ul>
        {% for post in collections.posts %}
            <li class="home-post-item">
                <a href="{{ post.url }}">
                    <h3>{{ post.data.title }}</h3>
                    <p>{{ post.data.date | date("LLLL d, yyyy") }}</p>
                </a>
                <div class="post-wrap">
                    <img eleventy:pictureattr:class="home-post-image" src="{{ post.data.image }}" alt="{{ post.data.title }}" />
                    <p>{{ post.page.excerpt | safe }}</p>
                </div>
                <a href="{{ post.url }}">Read more »</a>
            </li>
        {% endfor %}
    </ul>
</ul>